@model IEnumerable<QL_Ruong.Models.ChamSocChiTiet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChamSoc.CS_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSCT_TenThuoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSCT_SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSCT_Ngay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CSCT_TongTien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChamSoc.CS_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CSCT_TenThuoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CSCT_SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CSCT_Ngay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CSCT_TongTien)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CSCT_ID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.CSCT_ID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.CSCT_ID })
        </td>
    </tr>
}

</table>
