@model IEnumerable<QL_Ruong.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChiTietUs.CTUSER_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_TK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User_MK)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChiTietUs.CTUSER_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User_TK)
        </td>
        <td>
            <a href="~/Users/EditMK/@item.User_ID" class="btn btn-success">Đổi mật khẩu</a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.User_ID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.User_ID }) |*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.User_ID })*@
        </td>
    </tr>
}

</table>
