@model QL_Ruong.Models.Ruong

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ruong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.User_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.User_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruong_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruong_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruong_DienTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruong_DienTich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruong_MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruong_MoTa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index/" + Session["User_ID"])
        </div>
    }
</div>
