@model QL_Ruong.Models.Ruong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ruong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.User_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.User_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruong_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruong_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruong_DienTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruong_DienTich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ruong_MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruong_MoTa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ruong_ID }) |
    @Html.ActionLink("Back to List", "Index/" + Session["User_ID"])
</p>
