@model QL_Ruong.Models.ThuHoach

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ThuHoach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ruong.Ruong_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruong.Ruong_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TH_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TH_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TH_ChiSo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TH_ChiSo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TH_TienTrenDa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TH_TienTrenDa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TH_TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TH_TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TH_MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TH_MoTa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index/" + Session["Ruong_ID"])
        </div>
    }
</div>
