@model QL_Ruong.Models.ChamSoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChamSoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ruong.Ruong_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruong.Ruong_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CS_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CS_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CS_MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CS_MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CS_Mua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CS_Mua)
        </dd>

    </dl>
</div>
